@import "less/lib/normalize";
@import "less/lib/prefixer";

// Global variables
// -------------------------
@img-root: "../../assets";

@npr-blue: #6d8ac4;
@npr-light: #bccae5;
@npr-bright: #4774cc;

// Fonts
// -------------------------
.knockout() {
    font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.gotham() {
    font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4;
}

// Breakpoints
@screen-jumbo-above: ~"screen and (min-width: 1920px)";
@screen-mega-above: ~"screen and (min-width: 1600px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";

//max-width for content
@max-width-content: 47rem;

// Base font size
// -------------------------

html {
    font-size: 13px;

    @media @screen-small-above {
        font-size: 14px;
    }

    @media @screen-medium-above {
        font-size: 16px;
    }

    @media @screen-large-above {
        font-size: 18px;
    }

    @media @screen-mega-above {
        font-size: 21px;
    }

    @media @screen-jumbo-above {
        font-size: 24px;
    }
}

// Styles
// -------------------------

body {
    .gotham();
    background: #ececec;
    min-height: 100vh;
    color: #333;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    .knockout();
}

#content {
    max-width: 50rem;
    padding: 30px;
    margin: 0 auto;

}

img {
    max-width: 100%;
}

input {
    width: 100%;
}

.header {

    .logo {
        padding-top: 13px;
        padding-left: 5px;
        padding-bottom: 13px;
        background: #e0e0e0;

        @media @screen-small-above {
            //padding-top: 28px;
            padding-left: 1.8rem;
        }

        h5 {
            .knockout();
            font-size: 1.1rem;
            text-transform: uppercase;
            line-height: 1.2em;
            margin: 0;
            padding: 0;

            a {
                text-decoration: none;
                color: @npr-blue;
            }

            @media @screen-small-above {
                font-size: 1.3rem;
                line-height: 1.1em;
            }
        }

        img {
            float: left;
            display: block;
            width: 3.5rem;
            margin-right: 1rem;
            max-width: 100%;
            height: auto;

            @media @screen-small-above {
                width: 4.5rem;
            }
        }
    }
}

.card {
    display: none;
    -webkit-font-smoothing: antialiased;

    &.active {
        display: block;
    }
    a {
        color: @npr-bright;
        font-weight: 700;
        text-decoration: none;

        &.btn {
            border-radius: 3px;
            padding: 0.35rem 0.5rem;
            margin: 0.45rem;
            border: none;
            text-decoration: none;
            font-size: 1.1rem;
            color: white;
            background-color: @npr-blue;
            display: inline-block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            &:hover {
                background-color: @npr-light;
            }
        }

    }

    h1 {
        font-size: 2.2rem;

        @media @screen-small-above {
            font-size: 2.7rem;
        }

    }

    h2 { font-size: 1.5rem; }
    h3 { font-size: 14px; }
    h4 { margin-top: 3rem; }
}

form {
    margin-top: 2rem;
    label {
        margin-bottom: 1rem;
    }
    input {
        margin-bottom: 2rem;
    }
}
