@import "less/lib/normalize";
@import "less/lib/prefixer";

// Global variables
// -------------------------
@img-root: "../../assets";

// Styles
// -------------------------

#content {
    max-width: 50rem;
    padding: 30px;
    margin: 0 auto;

}

img {
    max-width: 100%;
}

input {
    width: 100%;
}

.card {
    display: none;
    &.active {
        display: block;
    }
}

.btn {
    font-size: 1.7rem;
    font-weight: bold;
}
