@import "less/lib/normalize";
@import "less/lib/prefixer";

// Global variables
// -------------------------
@img-root: "../../assets";

// Styles
// -------------------------

.card {
    display: none;
    &.active {
        display: block;
    }
    padding: 30px;
}

.btn {
    font-size: 1.7rem;
    font-weight: bold;
}
