<div class="step">
    <h2>{{ card_content.step1_label }}</h2>
    <p>{{ card_content.step1_text }}</p>
</div>

<div class="step">
    <h2>{{ card_content.step2_label }}</h2>
    <p>{{ card_content.step2_text }}</p>
    <img src="{{ card_content.step2_img }}" />
    <p class="photo-credit">Photo credit TK TK</p>
</div>

<div class="step">
    <h2>{{ card_content.step3_label }}</h2>
    <p>{{ card_content.step3_text }}</p>
</div>

<a href="#/scratch" class="btn">Ready to test your pipe? Let's go!</a>
