<hr/>

<h2>{{ form.form_hed }}</h2>

<p>{{ form.form_introduction }}</p>

<form class="user-info">
    <label for="{{ id }}-name">{{ form.name_label }}</label>
    <input id="{{ id }}-name" name="name" type="text" placeholder="{{ form.name_placeholder|smarty }}" required />

    <label for="{{ id }}-email">{{ form.email_label }}</label>
    <input id="{{ id }}-email" name="email" type="email" placeholder="{{ form.email_placeholder|smarty }}" required />

    <label for="{{ id }}-address">{{ form.address_label }}</label>
    <input id="{{ id }}-address" name="address" type="text" placeholder="{{ form.address_placeholder|smarty }}" required />

    <label for="{{ id }}-city">{{ form.city_label }}</label>
    <input id="{{ id }}-city" name="city" type="text" placeholder="{{ form.city_placeholder|smarty }}" required />

    <label for="{{ id }}-state">{{ form.state_label }}</label>
    <select id="{{ id }}-state" name="state" required>
        <option value="null" disabled selected>{{ form.state_selector_default_text }}</option>
        {% for state in us_states %}
        <option value="{{ state.abbr }}">{{ state.name }}</option>
        {% endfor %}
    </select>

    <p>
        <button type="submit">{{ form.submit_button_text }}</button>
    </p>
</form>
<div class="submit-message message-hidden">
    <p>{{ form.thank_you_message }}</p>
    <p class="submit-again"><a href="#" class="submit-again-link">{{ form.submit_again_message }}</a></p>
</div>
