<form class="user-info">

    <label for="name">{{ COPY.form.name_label }}</label>
    <input name="name" type="text" placeholder="{{ COPY.form.name_placeholder|smarty }}" required />

    <label for="email">{{ COPY.form.email_label }}</label>
    <input name="email" type="text" placeholder="{{ COPY.form.email_placeholder|smarty }}" required />

    <label for="address">{{ COPY.form.address_label }}</label>
    <input name="address" type="text" placeholder="{{ COPY.form.address_placeholder|smarty }}" required />

    <label for="city">{{ COPY.form.city_label }}</label>
    <input name="city" type="text" placeholder="{{ COPY.form.city_placeholder|smarty }}" required />

    <label for="state">{{ COPY.form.state_label }}</label>
    <select name="state" required>
        {% for state in us_states %}
        <option value="{{ state.abbr }}">{{ state.name }}</option>
        {% endfor %}
    </select>


    <button type="submit">Submit my information</button>
</form>
