{% extends '_base.html' %}
{% block content %}

<div class="header">
    <div class="logo">
        <a href="http://npr.org" target="_blank"><img src="../assets/npr-white.png" /></a>
        <h5><a href="#{{ COPY.config.initial_card }}">{{ content.pagehed }}</a></h5>
    </div>
    <div class="language-selector">
        {% for available_lang in LANGS %}
        <button data-language="{{ available_lang }}"{% if available_lang == lang %} class="active"{% endif %}>{{ available_lang }}</button>
        {% endfor %}
    </div>
</div>
<div id="content">
    {% for id, card_content in cards %}
    <section id="{{ id }}" class="card">
        {{ card_content|safe }}
        {% if id in OUTCOME_CARDS %}
        {% include '_share_tools.html' %}
        {% endif %}
        {% if id in END_CARDS %}
        {% include '_form.html' %}
        {% endif %}
        {% if COPY.config.initial_card.__unicode__() != id %}
        <p><a href="#" class="btn back">{{ content.back_button_text }}</a></p>
        {% endif %}
        {% if id in END_CARDS %}
        {% include '_disclaimer.html' %}
        {% endif %}
    </section>
    {% endfor %}
    {% if DEBUG %}
    <section id="index" class="card">
        <h1>Page index</h1>
        <ul>
            {% for id, content in cards %}
            <li><a href="#{{ id }}">{{ id }}</a></li>
            {% endfor %}
        </ul>
    </section>
    <section id="copy" class="card">
        {% for id, content in cards %}
        {{ content|safe }}
        <hr/>
        {% endfor %}
    </section>
    {% endif %}
</div>

<script>
window.CALENDAR = {{ calendar._serialize()|tojson|safe }};
</script>

{% endblock %}
