{% extends '_base.html' %}
{% block content %}

<div class="header">
    <div class="logo">
        <a href="http://npr.org" target="_blank"><img src="assets/npr-home.png" /></a>
        <h5><a href="#{{ COPY.content.initial_card }}">{{ COPY.content.pagehed }}</a></h5>
    </div>
</div>
<div id="content">
    {% for id, content in cards %}
    <section id="{{ id }}" class="card">
        {{ content|safe }}
        {% if id == 'lead' %}
        {% include '_form.html' %}
        {% endif %}
    </section>
    {% endfor %}
</div>

{% endblock %}
